<!DOCTYPE html>
<html>
<head>
    <title>Progress Monitor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function updateProgress() {
            $.getJSON('/progress', function(data) {
                $('#progress').empty();
                $.each(data, function(name, status) {
                    $('#progress').append('<li>' + name + ': ' + status + '</li>');
                });
            });
        }
        $(function() {
            updateProgress();
            setInterval(updateProgress, 1000);
        });
    </script>
</head>
<body>
    <h1>Progress Monitor</h1>
    <ul id="progress"></ul>
</body>
</html>
